@import "sass/base";

/*
TODO:
- Remove unused styles.
- Remove unused color variables.
- All colors should be variables.
- better states for button focus and hover
*/

$black: #222;
// $green: #03A9F4;
$green: #00C853;
$gray--light: #EEEEEE;
$gray: #bbb;
$gray--dark: #616161;
$white: #fff;

$blue: #2196F3;
$yellow: #FF9100;
$red: #E53935;
$blue--dark: #0277BD;
$blue-gray: #607D8B;

$font-size--normal: 1em;
$font-size--medium: 1.15em;
$font-size--large: 1.5em;
$font-size--larger: 2.5em;



html {
  background: $white;
  font-size: 16px;
}

pre {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  align-items: baseline;
  background: $blue-gray;
  color: $white;
  display: flex;
  height: 4em;

  &__title {
    font-size: 1.5em;
    font-weight: 300;
    padding: 0 0.5em;
  }

  &__expander {
    flex-grow: 1;
  }

  &__metric {
    font-weight: 300;
    padding: 0 0.5em;
  }
}

.main {
  flex-grow: 1;
  overflow: hidden;
  position: relative;

  &__message-container {
    left: 50%;
    margin-top: 0.3em;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
  }

  &__question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.5s ease-in-out;

    &--future {
      left: 150%;
    }

    &--completed {
      left: -50%;
    }
  }
}

.message-container {
  &__message {
    background-color: $gray--dark;
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0.5em 2em;

    &--animated {
      transition: opacity 1.5s ease-in-out;
    }

    &--fade-out {
      opacity: 0;
    }
  }
}

.prompt {
  display: block;
  min-width: 50%;

  & + .prompt {
    margin-top: 2em;
  }

  &__code {
    background: $gray--light;
    font-size: 2em;
    padding: 1em;
  }

  &__description {
    color: $gray--dark;
    display: block;
  }

  &__description + &__code {
    margin-top: 0.2em;
  }

}

.code-block {
  &--animated {
    transition: opacity 0.8s ease-in-out;
  }

  &--hidden {
    opacity: 0;
  }
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.code {
  // Highlight.js overrides
  background-color: transparent;
  // Ensure the block is always at least one line high
  line-height: 1.15; // default
  min-height: 1.15em; // must match line height

  &--cursor {
    position: relative;

    &:after {
      animation: cursor 1s infinite linear;
      border-left: 2px solid black;
      content: " ";
      left: -1px;
      position: absolute;
    }
  }
}

.modal-container {
  background-color: rgba(0,0,0,0.5);
  display: none;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  &--animated &__modal {
    transition: top 0.5s ease-in-out;
  }

  &--visible {
    display: block;
  }

  &--off-screen .modal-container__modal {
    top: -50%;
  }

  &__modal {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}

.modal {
  background-color: $white;
  border-top: 10px solid $blue;
  padding: 2em;

  &--success {
    border-top: 10px solid $green;
  }

  &--warning {
    border-top: 1px solid $yellow;
  }

  &--error {
    border-top: 10px solid $red;
  }

  &__nav {
    background-color: $blue;
    height: 4em;
  }

  &__title {
    font-weight: 600;
    margin: 0;
  }

  &__subtitle {
    font-weight: 600;
    margin: 0;
  }

  &__copy {
    font-weight: 400;
    margin: 0;
  }

  & > * + * {
    margin-top: 1em;
  }

  &__section {
    margin-left: -2em;
    margin-right: -2em;
    padding: 1em 2em;

    & > * + * {
      margin-top: 1em;
    }

    &:nth-of-type(1) {
      background-color: $gray--light;
    }
  }

  &__buttons {
    text-align: center;
  }
}

.bindings {
  list-style-type: none;
  margin: 0;
  margin-top: 0.75em;
  padding: 0;

  &__binding {
    background-color: $gray--light;
    border: 1px solid $gray--dark;
    display: inline-block;
    font-family: monospace;
    font-size: 2em;
    padding: 0 0.3em;
    padding-bottom: 0.1em;
  }

  &__binding + &__binding {
    margin-left: 5px;
  }
}

.pie-chart {
  .pie-chart__data {
    height: 3em;
  }

  .pie-chart__data + .pie-chart__legend {
    margin-top: 1em;
  }
}

.data {
  display: flex;

  &__slice {
    height: 100%;

    &--success {
      background-color: $green;
    }

    &--warning {
      background-color: $yellow;
    }

    &--error {
      background-color: $red;
    }
  }
}

.scalar-group {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__scalar {
    display: block;
    flex: 1;
  }
}

.scalar {
  &__title {
    font-size: $font-size--large;
    font-weight: 600;
    margin: 0;
  }

  &__value {
    font-size: $font-size--larger;
    font-weight: 300;
    margin: 0;
  }

  &__title + &__value {
    margin-top: 0.3em;
  }
}

.legend {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    align-items: center;
    display: flex;
    flex-grow: 1;

    &__key {
      display: block;
      height: 1em;
      margin-right: 0.3em;
      width: 1em;

      &--success {
        background-color: $green;
      }

      &--warning {
        background-color: $yellow;
      }

      &--error {
        background-color: $red;
      }
    }
  }

}

.button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  padding: 0.75em 1em;
  text-transform: uppercase;

  &:focus {
    background-color: #aaa;
  }

  &:active {
    background-color: #888;
  }

  &--nav {
    &:focus {
      background-color: #455A64;
    }

    &:active {
      background-color: #263238;
    }
  }

}
