@import "sass/base";

$blue: #03A9F4;
$grey--light: #EEEEEE;
$grey: #bbb;
$grey--dark: #616161;
$white: #fff;

html {
  background: $white;
}

pre {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  align-items: center;
  background: $blue;
  box-shadow: 0 3px 10px #ddd;
  color: $white;
  display: flex;
  height: 4em;

  &__title {
    font-size: 1.5em;
    font-weight: 300;
    padding: 0 0.5em;
  }

  &__expander {
    flex-grow: 1;
  }

  &__metric {
    font-weight: 300;
    padding: 0 0.5em;
  }
}

.main {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  // So &__message can be positioned at the top
  position: relative;

  &__message {
    margin-top: 0.3em;
    position: absolute;
    top: 0;
  }
}

.message-container {
  &__message {
    background-color: $grey--dark;
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0.5em 2em;

    &--animated {
      transition: opacity 1.5s ease-in-out;
    }

    &--fade-out {
      opacity: 0;
    }
  }
}

.question {
  &__number {
    color: $grey--dark;
    margin: 0;
    padding: 0.5em;
    text-align: right;
  }
}

.prompt {
  display: block;
  min-width: 50%;

  & + .prompt {
    margin-top: 2em;
  }

  &__code {
    background: $grey--light;
    box-shadow: 3px 3px 10px #ddd;
    font-size: 2em;
    padding: 1em;
  }

  &__description {
    color: $grey--dark;
    display: block;
  }
}

.code-block {
  &--animated {
    transition: opacity 0.2s ease-in-out;
  }

  &--hidden {
    opacity: 0;
  }
}

.code {
  color: $grey--dark;

  &--cursor {
    border-left: 2px solid black;
  }

  &--name {

  }

  &--string {

  }

  &--number {

  }

  &--symbol {

  }

  &--comment {

  }

  &--paren {
    // color: blue;
  }
}

.modal {
  background-color: rgba(0,0,0,0.75);
  color: $white;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  &--hidden {
    display: none;
  }
}

.bindings {
  &__binding {
    border: 1px solid $grey;
    font-family: monospace;
    font-size: 3em;
    margin: 0.3em;
  }
}
