@import "sass/base";

/*
TODO:
- Remove unused styles.
- Remove unused color variables.
- All colors should be variables.
*/

$black: #222;
$blue: #03A9F4;
$gray--light: #EEEEEE;
$gray: #bbb;
$gray--dark: #616161;
$white: #fff;

html {
  background: $white;
}

pre {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav {
  align-items: center;
  background: #0277BD;
  box-shadow: 0 3px 10px #ddd;
  color: $white;
  display: flex;
  height: 4em;

  &__title {
    font-size: 1.5em;
    font-weight: 300;
    padding: 0 0.5em;
  }

  &__expander {
    flex-grow: 1;
  }

  &__metric {
    font-weight: 300;
    padding: 0 0.5em;
  }
}

.main {
  flex-grow: 1;
  overflow: hidden;
  position: relative;

  &__message-container {
    left: 50%;
    margin-top: 0.3em;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
  }

  &__question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.5s ease-in-out;

    &--future {
      left: 150%;
    }

    &--completed {
      left: -50%;
    }
  }
}

.message-container {
  &__message {
    background-color: $gray--dark;
    color: white;
    font-size: 1em;
    margin: 0;
    padding: 0.5em 2em;

    &--animated {
      transition: opacity 1.5s ease-in-out;
    }

    &--fade-out {
      opacity: 0;
    }
  }
}

.prompt {
  display: block;
  min-width: 50%;

  & + .prompt {
    margin-top: 2em;
  }

  &__code {
    background: $gray--light;
    box-shadow: 3px 3px 10px #ddd;
    font-size: 2em;
    padding: 1em;
  }

  &__description {
    color: $gray--dark;
    display: block;
  }

  &__description + &__code {
    margin-top: 0.2em;
  }

}

.code-block {
  &--animated {
    transition: opacity 0.8s ease-in-out;
  }

  &--hidden {
    opacity: 0;
  }
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.code {
  // Highlight.js overrides
  background-color: transparent;

  &--cursor {
    position: relative;

    &:after {
      animation: cursor 1s infinite linear;
      border-left: 2px solid black;
      content: " ";
      left: -1px;
      position: absolute;
    }
  }
}

.modal-container {
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;

  &--hidden {
    display: none;
  }

  &__modal {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}

.modal {
  background-color: $white;
  box-sizing: border-box;
  padding: 2em;

  &--success {
    border-top: 10px solid #2196F3;
  }

  &--warning {
    border-top: 1px solid #FF9100;
  }

  &--error {
    border-top: 10px solid #E53935;
  }

  &__nav {
    background-color: $blue;
    height: 4em;
  }

  &__title {
    font-weight: 600;
    margin: 0;
  }

  &__subtitle {
    font-weight: 600;
    margin: 0;
  }

  &__copy {
    font-weight: 400;
    margin: 0;
  }

  & > * + * {
    margin-top: 1em;
  }

  &__section {
    margin-left: -2em;
    margin-right: -2em;
    padding: 1em 2em;

    &:nth-of-type(1) {
      background-color: $gray--light;
    }
  }

  &__buttons {
    text-align: center;
  }
}

.bindings {
  list-style-type: none;
  margin: 0;
  margin-top: 0.75em;
  padding: 0;

  &__binding {
    background-color: $gray--light;
    border: 1px solid $gray--dark;
    display: inline-block;
    font-family: monospace;
    font-size: 2em;
    padding: 0 0.3em;
    padding-bottom: 0.1em;
  }

  &__binding + &__binding {
    margin-left: 5px;
  }
}

.pie-chart {
  margin-bottom: 2em;

  .pie-chart__data {
    background-color: red;
    height: 3em;
  }

  .pie-chart__data + .pie-chart__legend {
    margin-top: 1em;
  }
}

.legend {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    align-items: center;
    display: flex;
    flex-grow: 1;

    &__key {
      background-color: red;
      display: block;
      height: 1em;
      margin-right: 0.3em;
      width: 1em;
    }
  }

}

.button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  outline: none;
  padding: 0.75em 1em;
  text-transform: uppercase;

  &:focus {
    background-color: #aaa;
  }

  &:active {
    background-color: #888;
  }

}
